{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

    {% block title %}登录{% endblock title%}
    {% block link %}<link rel="stylesheet" type="text/css" href={% static "css/login.css" %}>{% endblock link %}
    {% block content %}
    <style>
    .header{
        border:0;
    }
    </style>
	<div class="login_title">
		<div class="login_logo">Mood Diary</div>
		<div class="login_desc1">
			你的所有努力都应该活成自己喜欢的样子
			
		</div>
		<div class="login_desc2">
			All your efforts should live up to what you like.
		</div>
		
	</div>


	<div class="input_form">
		<div class="l_header">
			密码登录
		</div>
		<form action="." method="POST">
            {% csrf_token %}
            {{ form.username | add_class:"username"}}
{#              <input type="text" name="username" class="username" placeholder="请输入用户名">#}
              <br />
            {{ form.password | add_class:"password"}}
{#              <input type="text" name="password" class="password" placeholder="请输入密码">#}
              <br />
{#            {{ form.email |add_class:"email"}}#}
{#              <input type="email" class="email" placeholder="邮箱">#}
              <br>
            <br>
              <input type="submit" class="login_sub" value="登录">
	    </form>
	</div>
{% endblock content %}